<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/rankings.css">
    <title>Rankings</title>
</head>
<body>
    


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script type="text/javascript">
            $("#submit").on('click', function () {
                event.preventDefault();
                let results = {
                    name: $("#name").val().trim(),
                    hits: $("#hits").val().trim(),
                    attempts: $("attempts")
                };
                console.log(results);
                $.post("/api/rankings", results).done(function (data) {
                    console.log(data);
                    $("#newName").text(data.matchName);
                    $("#newImage").attr("src", data.matchedPhoto);
                    $('#myModal').modal('toggle');
                });
            })
        </script>

</body>
</html>