@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  padding: 50px;
  font-family: 25px "Press Start 2P", "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  background: #000000;
}

a {
  color: #00B7FF;
}

canvas {
  margin: 0 auto;
}

/* .game{
    height: calc(100vh - 80vw);
} */