<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type='text/css' href='./client/assets/css/style.css'>
    <title>Game Name</title>
</head>
<body>
    <!-- <h1>Welcome to my game</h1>
    <p>This is my game page.</p> -->
    <div class="game"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="client/js/index.js"></script>
    <script type='Text/javascript' src='client/js/phaser.min.js'></script>
    <script type='Text/javascript' src='client/states/state0.js'></script>
    <script type='Text/javascript' src='client/states/state1.js'></script>
    <script type='Text/javascript' src='client/js/main.js'></script>
</body>
</html>