html body {
    background: url(../art/htmlback.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 20px;
    text-align: center;
}

body {
    background-color: #505050;
    color: #fff;
    padding: 50px;
    font-family: 'Nunito', sans-serif;
}

.center {
    text-align: center;
}

.h1-text{
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    position: absolute;
    left: 1000px;
}

.h5-text{
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    position: absolute;
    left: 1000px;
}

.header {
    margin: 35px;
}

.game {
    margin-left: 20%;
}

canvas {
    margin: 0 auto;
    position: relative;
    bottom: 10px;
}

#chat {

}